.container-dashboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background: #ffffff;
}

.container-dashboard nav {
    align-items: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    min-width: 300px;
    background:  #0046fe;
}

.container-dashboard nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.container-dashboard nav ul .menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.container-dashboard nav ul #logo{
    width: 60%;
    margin: 3rem 0;
}

.container-dashboard nav ul #container-org{
    margin-top: 5rem;
    width: 80%;
}

.container-dashboard nav ul li {
    display: flex;
    color: #fff;
    padding: 1.2rem 2.5rem;
    text-decoration: none;
    align-items: center;
    width: 100%;
    height: 5rem;
    cursor: pointer;
    font-size: 1.6rem;
    margin: 0.8rem 0;
    background-color: #0046fe;
}

.container-dashboard nav ul li .icon{
    font-size: 2rem;
    margin-right: 2rem;
    color: #ffffff;
}
  
.container-dashboard nav ul #select {
    font-size: 1.6rem;
    background-color: #ffffff;
    color: #0046fe;
    border-radius: 2.5rem;
    font-weight: 600;
}

.container-dashboard nav ul #select .icon{
    color: #0046fe;
}

.container-dashboard nav ul li {
    border-radius: 0 4rem 0 0;
}