  .Nav-Bar {
    width: 80%;
    max-width: 280px;
    background-color:#5d49a0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .button {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    color: #FFF;
    background-color: #5d49a0;
    border: 0px;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .button-sair {
    width: 100%;
    height: 60px;
    color: #FFF;
    background-color: #3f306d;
    border: 0px;
    font-size: 23px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .linha {
    width: 100%;
    height: 1px;
    background-color: aliceblue;
  }
  
  .Img-Logo {
      width: 35px;
      margin-right: 15px;
  }

  .Text-Logo {
    font-size: 25px;
    font-family: 'maiandra gd';
    color: #fff;
    margin-right: 15px;
  }
  
  .Logo-Text {
    width: 100%;
    height: 50px;
    background-color: #5d49a0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }