:root {
    font-size: 60%;
    --color-background: #F0F0F7;
    --color-secundary-background: #262f66;
    --color-primary-lighter: #5E87FF;
    --color-primary-light: #5579E6;
    --color-primary: #3253b8;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #323636;
    --color-border-base: rgba(68, 68, 68, 0.6);
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-text-description: rgba(68, 68, 68, 0.8);
    --color-text-subdescription: rgba(68, 68, 68, 0.6);
    --color-text-description-opacity: rgba(68, 68, 68, 0.4);
    --color-button-hover: #FF8E40;
    --color-text-error: #d21a07;
    --color-text-success: #00bc22;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, strong, span, a{
    font-family: 'Lato';
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    flex-direction: column;
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}